body{
  font-family: Arial;
  background: #46178f;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container{
  width: 90%;
  max-width: 700px;
  margin: auto;
  padding-top: 50px;
}

h1{
  margin-bottom: 40px;
}

.opciones{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.btn{
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.btn:nth-child(1){ background:#e21b3c; }
.btn:nth-child(2){ background:#1368ce; }
.btn:nth-child(3){ background:#d89e00; }
.btn:nth-child(4){ background:#26890c; }

.btn:hover{
  opacity: .8;
}

.hidden{
  display: none;
}
